#dashboardMain {
  display: flex;
  justify-content: flex-start;
  padding-top: 15%;
}

#dashboardMain table tbody tr td {
  height: fit-content;
  border: 1px solid black;
  border-collapse: collapse;
}

#dashboardMain input {
  background: none;
}

#root > main > table > tbody > tr > td > div > input {
  width: 100%;
  border: none;
  background: none;
  text-align: center;
}
