nav{
  border-bottom: 2px groove #e6e6e6;
  align-content: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  margin: 0;
}

nav ul li {
  text-decoration: none;
  list-style: none;
}

nav ul li:last-child {
  margin-left: auto;
  margin-right: 1rem;
}

nav a{
    text-decoration: none;
    color: black;

}

#login_status {
  display: 'flex';
  align-items: center;
  font-size: 2rem;
  margin: 2px;
  padding: 2px;
  font-family: "MuseoModerno", sans-serif;
  filter: drop-shadow(0 0 4px rgb(255, 255, 255));
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 4s forwards; /
}

@keyframes slideIn {
  to {
    opacity: 1; 
    transform: translateX(0); 
  }
}

#cat_user {
  width: 60px;
  height: 70px;
  margin-right: 1px;
  align-self: center;
  vertical-align: middle; 
  
  }


#cat_doc {
width: 70px;
height: 70px;
margin-right: 1px;
align-self: center;
vertical-align: middle; 
}

#logout_button{
  font-family: "MuseoModerno", sans-serif;
  font-size: 1.4rem;
  background-color: rgba(248, 248, 248, 0.205);
  filter: drop-shadow(0 0 4px rgb(255, 255, 255));
}
#logout_button:hover{
  background-color: #eb19193d; /* Cambia el color al pasar el ratón */
  border-radius: 20%;
  filter: drop-shadow(0 0 4px rgb(255, 255, 255));
  transform: scale(1.2);
  
}

#welcome_user{
  margin: 0;
  font-size: 1.9rem;
  line-height: 0rem;
  font-family: "Lilita One", "Spicy Rice", "Metal Mania", serif;
  display: 'flex';
  align-items: center;
  vertical-align: middle;
  filter: drop-shadow(0 0 4px rgb(255, 255, 255));

}

