@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Metal+Mania&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
#root {
  height: 100svh;
  font-family: "Poppins", sans-serif;
  background-image: url("/mainCat.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  font-size: x-large;
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "aside main main";
  grid-template-rows: 10% auto;
  grid-template-columns: 15% auto auto;
}

body {
  margin: 0;
}

main {
  background-color: rgba(97, 94, 94, 0.336);
  grid-area: main;
}

nav {
  background-color: rgba(184, 175, 175, 0.493);
  grid-area: nav;
}

aside {
  background-color: rgba(66, 92, 114, 0.842);
  grid-area: aside;
}
